<section class="container my-16 md:mx-auto">
  <h2>Products</h2>

  <app-button text="Go Home" [style]="'mat-raised-button'" [goTo]="'/'"></app-button>
  <app-button text="Create" [style]="'mat-flat-button'" (click)="modalService.open()"></app-button>

  <input
    type="text"
    class="mb-2, border, w-full rounded-xl border-gray-500 px-4 py-2 shadow-md"
    placeholder="Search..."
    [(ngModel)]="search"
  />

  @if (data$) {
    <div
      *ngIf="data$ | async as products"
      class="mt-5 flex flex-wrap justify-center gap-4 md:justify-between"
    >
      <div
        class="min-h-[470px] w-[350px] rounded-2xl border border-gray-300 bg-slate-50 p-4 text-center shadow-md"
        *ngFor="let item of products | searchProducts: search; let i = index"
      >
        <div>
          <h6>{{ item.title }}</h6>
          <p>Category: {{ item.category }}</p>
        </div>
        <div class="m-1 flex h-[200px] justify-center overflow-hidden">
          <img src="{{ item.image }}" alt="{{ item.title }}" class="h-full w-auto object-cover" />
        </div>
        <p class="card-price py-2 text-center">Price: {{ item.price | currency: 'EUR' }}</p>
        <app-details [product]="item"></app-details>

        <div>
          <app-button text="Add" [style]="'mat-raised-button'"></app-button>
        </div>
      </div>
    </div>
  }

  <div *ngIf="!data$">Loading...</div>
</section>
