<section class="container my-16 flex h-[calc(100vh-8rem)] items-center justify-center md:mx-auto">
  <form [formGroup]="form" class="flex-col justify-center gap-4 p-4 text-center">
    <div>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input formControlName="username" matInput placeholder="Username" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          formControlName="password"
          autocomplete="new-password"
          type="password"
          matInput
          placeholder="Password"
        />
      </mat-form-field>
    </div>
    <app-button (click)="login()" text="Login" [style]="'mat-stroked-button'"></app-button>
    <app-button [goTo]="'/register'" text="Register" [style]="'mat-flat-button'"></app-button>
  </form>
</section>
